<header class="header">
    <div class="container">
        <div class="header__logo">
            <img src="./images/dist/logo.svg" alt="logo">
        </div>
        <nav class="header__navbar">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="header__link active">О нас</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__link">Наши проекты</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__link">Последние новости</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__link">Наша команда</a>
                </li>
                <li class="header__item">
                    <p class="header__link">+ 996 (550) 312 312</p>
                </li>
            </ul>
        </nav>
        <div class="header__burger">
            <span></span>
        </div>
        <div class="header__popup"></div>
    </div>
</header>